#projectSection{
    width: 100vw;
    max-width: 75rem;
    min-height: calc(100vh-5rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
    color: #9933FF;
}
.desc{
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 3rem;
    max-width: 70rem;
    letter-spacing: 1px;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
 
    margin: 3rem auto;
}

