#skill{
    overflow: hidden;
    width: 100vw;
    /* max-width: 75rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}
.title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
    color: #9933FF;
}
.desc{
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0 3rem; 
    max-width: 70rem;
    letter-spacing: 1px;
}
.descHead{
    color: #9933FF;
    font-weight: 400;
}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    /* max-width: 80%; */
    text-align: left;
}